{{> nav}}
<div class="container pt-5 pb-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-end">Gestione</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <th scope="row">{{inc @index}}</th>
            <td>{{this.name}}</td>
            <td>{{this.surname}}</td>
            <td>{{this.email}}</td>
            <td class="text-end">
                <a href="/admin/users/view/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> Dettagli</a>
                <a href="/admin/users/modify/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Modifica</a>
                <a href="/admin/users/remove/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Cancella</a>
            </td>
            {{/each}}
        </tbody>
    </table>
</div>