<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col align-items-center">
            <img class="mx-auto d-block responsive-img" src="/img/logo.png" alt="Animal House logo">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col">
            <form class="form-signup" action="/register" method="POST">
                {{> messages }}
                <div class="mb-3 w-100">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Inserisci l'e-mail"
                        {{#if email}}value={{email}}{{/if}}
                        aria-describedby="Inserisci la tua mail per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="password" class="form-label">Password</label>
                    <span tabindex="0" data-bs-toggle="tooltip"
                        title="La password deve essere di almeno caratteri e deve contenere almeno una lettera maiuscola, una minuscola, una cifra e un carattere speciale"
                        aria-describedby="La password deve essere di almeno caratteri e deve contenere almeno una lettera maiuscola, una minuscola, una cifra e un carattere speciale">
                        <i class="bi bi-info-circle-fill text-info"></i>
                    </span>

                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Inserisci una password sicura"
                            aria-describedby="Inserisci la tua password per creare il tuo account." required
                            aria-required="true">
                        <span class="input-group-text">
                            <i class="bi bi-eye-slash" id="togglePassword" data-bs-toggle="tooltip"
                                title="Mostra password"></i>
                        </span>
                    </div>
                </div>
                <div class="mb-3 w-100">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Inserisci il nome" {{#if
                        name}}value={{name}}{{/if}} aria-describedby="Inserisci il tuo nome per creare il tuo account."
                        required aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="surname" class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="surname" name="surname"
                        placeholder="Inserisci il cognome" {{#if surname}}value={{surname}}{{/if}}
                        aria-describedby="Inserisci il tuo cognome per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="indirizzo" class="form-label">Indirizzo</label>
                    <span tabindex="0" data-bs-toggle="tooltip"
                        title="L'indirizzo deve essere nel formato: Nome via, Numero civico. L'indirizzo immesso sarà utilizzato per la fatturazione degli acquisti."
                        aria-describedby="L'indirizzo deve essere nel formato: Nome via, Numero civico. L'indirizzo immesso sarà utilizzato per la fatturazione degli acquisti.">
                        <i class="bi bi-info-circle-fill text-info"></i>
                    </span>
                    <input type="text" class="form-control" id="indirizzo" name="indirizzo"
                        placeholder="Inserisci il tuo indirizzo" {{#if indirizzo}}value={{indirizzo}}{{/if}}
                        aria-describedby="Inserisci il tuo indirizzo per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="citta" class="form-label">Città</label>
                    <input type="text" class="form-control" id="citta" name="citta" placeholder="Inserisci la tua città"
                        {{#if citta}}value={{citta}}{{/if}}
                        aria-describedby="Inserisci il nome della tua città per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="cap" class="form-label">CAP</label>
                    <input type="text" class="form-control" id="cap" name="cap"
                        placeholder="Inserisci il tuo codice postale" {{#if cap}}value={{cap}}{{/if}}
                        aria-describedby="Inserisci il tuo codice postale per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="dtnascita" class="form-label">Data di nascita</label>
                    <input type="date" class="form-control" id="dtnascita" name="dtnascita" {{#if
                        dtnascita}}value={{dtnascita}}{{/if}}
                        aria-describedby="Inserisci la tua data di nascita per creare il tuo account." required
                        aria-required="true">
                </div>
                <div class="mb-3 w-100">
                    <label for="genere" class="form-label">Genere</label>
                    <select class="form-select" id="genere" name="genere" required aria-required="true">
                        <option selected disabled value=""> </option>
                        <option value="Maschio">Maschio</option>
                        <option value="Femmina">Femmina</option>
                    </select>
                </div>
                <div class="mb-3 w-100  d-grid col-12 ">
                    <button type="submit" class="btn btn-success verdino">Registrati</button>
                </div>
                <div class="mb-1">
                    <a href="/login">← torna indietro</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");
        togglePassword.addEventListener("click", function () {

            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            // toggle the eye icon
            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });
    </script>